html {
  scroll-behavior: smooth; }

.container {
  max-width: 1260px;
  margin: auto; }

.wrap {
  width: 100%;
  height: 700px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 12px;
  line-height: inherit; }

body {
  line-height: 1.5; }

input {
  outline: none; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.header {
  width: 1260px;
  height: 700px;
  position: relative;
  line-height: 1;
  margin: auto; }
  .header__top {
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 120px;
    color: #fff; }
  .header__phone, .header__action {
    position: relative;
    top: 32px; }
  .header__title {
    position: absolute;
    top: 53%;
    left: 120px; }
  .header__name {
    font-weight: bold;
    font-size: 60px;
    line-height: 100%;
    color: #fff; }
    .header__name::before {
      content: "";
      position: absolute;
      top: -16px;
      width: 35px;
      border: 2px solid; }
  .header__nav {
    position: absolute;
    bottom: 48px;
    left: 0;
    right: 0; }
  .header__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    text-transform: uppercase; }
    .header__link-number {
      text-decoration: none;
      color: #fff; }
    .header__link:hover {
      color: #9fadc2; }

@media (max-width: 1023px) {
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .header__phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: -15px 0 10px; }
  .header__action {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .header__title {
    display: none; } }

.nav {
  color: #000;
  text-transform: uppercase;
  padding: 0 120px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .nav__item {
    padding: 8px 24px; }
    .nav__item-active {
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      border-radius: 8px; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s; }
    .nav__link:hover {
      color: #9fadc2; }

@media (max-width: 1023px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.section {
  padding: 104px 120px 157px;
  position: relative; }
  .section__heading {
    left: 0;
    right: 0;
    margin: auto;
    top: -0.5em; }

@media (max-width: 1023px) {
  .section {
    padding-left: 40px;
    padding-right: 40px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__heading {
    width: 500px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin: 0; }
  .info__text {
    max-width: 500px;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
    .info__text-colored {
      color: #0075ff;
      font-size: 24px;
      line-height: 30px;
      margin: 0; }

@media (max-width: 1023px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__heading {
      padding-bottom: 20px; } }

.link {
  text-decoration: none;
  color: #0075ff;
  -webkit-transition: color 0.25s;
  transition: color 0.25s; }
  .link:hover {
    color: #9fadc2; }

.heading {
  font-size: 48px;
  line-height: 1;
  position: absolute;
  font-weight: bold;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
  .heading::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    width: 20px;
    height: 13px;
    margin: auto;
    top: calc(100% + 7px);
    background-image: url(../images/crown.svg); }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s; }
    .photos__img:hover {
      opacity: 0.7; }
  .photos-left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos-left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos-right {
    /* stylelint-disable */ }
    .photos-right .photos__img {
      /* stylelint-enable */ }
      .photos-right .photos__img:first-child {
        width: calc(33% - 10px); }
      .photos-right .photos__img:last-child {
        width: calc(67% - 10px); }

.gallery__caption {
  margin: 24px 0 40px; }

.gallery__button {
  margin: 40px auto 0; }

.button {
  display: block;
  font-size: 16px;
  line-height: 14px;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
  padding: 21px 65px;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px; }
  .button-primary {
    color: #fff;
    background-color: #0075ff; }
    .button-primary:hover {
      background-color: #fff;
      color: #0075ff; }
  .button-secondary {
    color: #0075ff;
    background-color: #fff; }
    .button-secondary:hover {
      background-color: #0075ff;
      color: #fff; }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    width: 412px; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__info {
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
  .consultation__form {
    width: 380px; }

@media (max-width: 1023px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__text, .consultation__form {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input, .form__button {
    display: block;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }

.input {
  font-size: 14px;
  color: #000;
  padding: 17px;
  background-color: #f7f8ff;
  border: 2px solid #fff;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .input__textarea {
    height: 200px; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input:focus {
    border: 2px solid #0075ff; }

.testimonials {
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 1023px) {
  .testimonials {
    grid-template-columns: repeat(1, 240px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.person {
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    border-radius: 50%;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s; }
    .person__photo:hover {
      opacity: 0.7; }
  .person__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-top: 28px; }
    .person__name:hover {
      color: #9fadc2; }
  .person__position {
    margin: 4px 0;
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px; }
  .person__text {
    color: #3e3e3e;
    font-size: 16px;
    line-height: 27px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 412px; }
  .contact__heading {
    font-style: normal;
    font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: #9fadc2; }
  .contact__address {
    display: inline-block; }
  .contact__phone, .contact__address, .contact__email {
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
    .contact__phone:hover, .contact__address:hover, .contact__email:hover {
      color: #9fadc2; }
  .contact__form {
    width: 413px; }

@media (max-width: 1023px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__text, .contact__form {
      width: 100%; }
    .contact__text {
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.footer {
  height: 359px;
  position: relative;
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto; }

/*# sourceMappingURL=main.css.map */
